# Ignore everything
/*

# Except these
!.gitignore
!README.md

!.github/
!.github/*

!.forgejo/
!.forgejo/*

!nvim/
!nvim/*

!zsh/
!zsh/*
zsh/.zsh_sessions/

!nushell/
!nushell/*

!wezterm/
!wezterm/*

!atuin/
!atuin/*

!tmux/
!tmux/*

# Merged specific config
!opencode/
!opencode/*

!pi/
!pi/*

!zellij/
!zellij/*

!k9s/
!k9s/*
